<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.yangyi.ChargingLimiter.daemon</string>
    <key>BundleProgram</key>
    <string>Contents/Resources/ChargingLimiterDaemon</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>MachServices</key>
    <dict>
        <key>com.yangyi.ChargingLimiter.daemon</key>
        <true/>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CHARGING_LIMITER_CLIENT_REQUIREMENT</key>
        <string>identifier "com.yangyi.ChargingLimiter"</string>
    </dict>
</dict>
</plist>
